In [1]:
from io import BytesIO
#Библиотека requests позволяет взаимодействовать с сайтами.
#Метод get() принимает ссылку на сайт в виде строки, и возвращает объект, содержащий ответ с сайта в виде строки

import requests
import requests
import pandas as pd

Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

In [2]:
link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'

In [3]:
req = requests.get(link)
data = req.content

df = pd.read_csv(BytesIO(data))

In [43]:
df

          date           browser user_type  users
0   2020-06-14     Google Chrome    People    139
1   2020-06-14     Chrome Mobile    People     35
2   2020-06-14     Google Chrome    Robots     28
3   2020-06-14    Yandex Browser    People     22
4   2020-06-14           Firefox    People     15
5   2020-06-14            Safari    People     13
6   2020-06-14           Firefox    Robots      8
7   2020-06-14   Android Browser    People      8
8   2020-06-14             Opera    People      5
9   2020-06-14     Mobile Safari    People      5
10  2020-06-14  Samsung Internet    People      5
11  2020-06-14            Safari    Robots      2
12  2020-06-14             UCWEB    Robots      2
13  2020-06-14              Edge    Robots      2
14  2020-06-14             Opera    Robots      1
15  2020-06-14             UCWEB    People      1
16  2020-06-14    Firefox Mobile    People      1
17  2020-06-14    Yandex Browser    Robots      1
18  2020-06-14   Android Browser    Robots      1
19  2020-06-14     Chrome Mobile    Robots      1
20  2020-06-14          Chromium    People      1
21  2020-06-14          Chromium    Robots      1
22  2020-06-14              Edge    People      1
23  2020-06-14            CocCoc    People      1

In [10]:
df.query("gender =='male'").users.sum()

117

In [13]:
round ((df.query("gender =='male'").users.sum() / df.users.sum()) * 100)

41

Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

str.contains()
np.where()

In [17]:
import numpy as np

In [14]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/Lesson_7/7_browser.csv')

In [40]:
#определяем роботов которые заходили на Chrome
(df.browser.str.contains('Chrome',regex=False)) & (df.user_type == 'Robots')

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
dtype: bool

Функция `np.where` принимает 3 аргумента - логическую серию, значение для `True` и значение для `False`. 

В результате получается массив (структура, похожая на питоновские списки и пандасовские серии), в котором `True` из логической серии заменены на 2-ой аргумент `np.where`, а `False` - на третий. 

Например,
np.where(df.column1, 'yes', 'no')

In [56]:
chrome_robots = pd.Series(np.where((df.user_type == 'Robots') & (df.browser.str.contains('Chrome')) , 1, 0))

In [57]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
Name: is_robots, dtype: object

У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

ad_id – id объявления
user_id – id пользователя
click_type – тип клика (клик по заголовку объявления, клик по центру)
Данные сохранены в переменную df.

In [58]:
dff = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/Lesson_7/sample_ads.csv')

In [64]:
dff

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [67]:
not_nan_count = (~dff.click_type.isna()).sum()

11

In [63]:
df.click_type.count()

11

В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:

при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
если это получилось – добавьте преобразованное значение  в список new_list

In [69]:
lst = ['0',1,2,3,4,'5',7,'6','popa']

In [70]:
new_list = []
for i in lst:
    try:
        x =int(i)
        new_list.append(x)
    except:
        continue

In [71]:
new_list

[0, 1, 2, 3, 4, 5, 7, 6]

А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [25]:
import requests
import json
from urllib.parse import urlencode


token = '5400879457:AAH7omv2Qf7dQv3CMRrSYd1Vs81sPa_bZkM'
chat_id = 205288405  # your chat id
# 259712450 - никита
# 205288405 - я
message = 'Your cock size is 1 mm'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)

In [ ]:
#Отправка документов
# Path to necessary file
filepath = 'gigachad-1.jpg'

url = base_url + 'sendDocument?' + urlencode(params)

files = {'document': open(filepath, 'rb')}

# If you need proxy
# resp = requests.get(url, files=files, proxies=proxy)
resp = requests.get(url, files=files)

In [23]:
#Отправка документов 
# Path to necessary file 
filepath = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/Lesson_7/7_browser.csv'
 
url = base_url + 'sendDocument?' + urlencode(params) 
 
files = {'document': open(filepath, 'rb')} 
 
# If you need proxy 
# resp = requests.get(url, files=files, proxies=proxy) 
resp = requests.get(url, files=files)

In [28]:
#Отправка документов 
# Path to necessary file 
filepath = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/Lesson_7/gazprom.xlsx' 
 
url = base_url + 'sendDocument?' + urlencode(params) 
 
files = {'document': open(filepath, 'rb')} 
 
# If you need proxy 
# resp = requests.get(url, files=files, proxies=proxy) 
resp = requests.get(url, files=files)