In [2]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [2]:
token = '824fab60a7b0f0badb19639cb48b42bd16a687fc975569c2b3a5f25a8c984d9d23178a5422f6368ece4e8'

In [9]:
vk_session = vk_api.VkApi(token = token)
vk = vk_session.get_api()

0

In [19]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/lesson_5_ads_data.csv.zip', compression = 'zip')

In [20]:
df

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29
...,...,...,...,...,...,...,...,...,...,...,...,...
3176709,112583,1554501092,view,2019-04-06,CPM,0,111818,112260,android,199.4,239408,5467
3176710,112583,1554501092,view,2019-04-06,CPM,0,111818,112260,android,199.4,239408,2508
3176711,112583,1554501092,click,2019-04-06,CPM,0,111818,112260,web,199.4,239408,7896
3176712,112583,1554501092,view,2019-04-06,CPM,0,111818,112260,ios,199.4,239408,4319
3176713,112583,1554508770,view,2019-04-06,CPM,0,111818,112260,ios,199.4,239408,8298

In [21]:
ads_data = df.groupby(['ad_id','event'],as_index = False)\
    .agg ({'user_id':'count'})

In [27]:
ads_data = ads_data.pivot (index = 'ad_id', columns = 'event', values = 'user_id').reset_index().fillna(0)

In [30]:
ads_data = ads_data.assign(ctr = ads_data.click /ads_data.view )

In [39]:
top_ctr = ads_data.query ('click > 0 and view > 0').sort_values('ctr', ascending = False).head(10)

In [41]:
top_ctr.to_csv('top_ctr_csv_data.csv', index = False)

In [46]:
path = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/Lesson_7/top_ctr_csv_data.csv'
file_name = 'top_ctr_csv_data.csv'

path_to_file = path
upload_url = vk.docs.getMessagesUploadServer(peer_id = 2000000001)['upload_url']
file = {'file':(file_name, open(path_to_file,'rb'))}


response = requests.post(upload_url, files = file)

json_data = json.loads(response.text)
json_data

{'file': '33844106|0|-1|240331|6062cddab8|csv|403|top_ctr_csv_data.csv|9df50282993907435d0139173bca0e53|5ac6a2422612adb4785a0c4dfebc35e1||||eyJkaXNrIjoyMCwicGVlcl9zZW5kZXIiOiItMjEzNjU2NzAzIn0='}

In [47]:
saved_file = vk.docs.save(file=json_data['file'], title = file_name)

In [48]:
attachment = 'doc{}_{}'.format(saved_file['doc']['owner_id'],saved_file['doc']['id'])

In [49]:
vk.messages.send(chat_id = 1, random_id = 2, message = 'Top CTR', attachment= attachment)

0

In [51]:
#библиотеки API google docs
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials

In [58]:
scope = ['https://spreadshits.google.com/feeds',
        'https://googleapis.com/auth/drive']

my_mail = 'alexsam567@gmail.com'

credentials = ServiceAccountCredentials.from_json_keyfile_name('credentials.json', scope)
gs = gspread.authorize(credentials)

In [6]:
table_name = 'to_sequence'
work_sheet = gs.open(table_name)

In [7]:
work_sheet

In [5]:
#GOOGLE SPREADSHITS API
import gspread
from oauth2client.service_account import ServiceAccountCredentials


# Specify path to your file with credentials
path_to_credential = 'driven-nature-139915-e56c19585366.json' 

# Specify name of table in google sheets
table_name = 'to_sequence'

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_credential, scope)
gs = gspread.authorize(credentials)

work_sheet = gs.open(table_name)

# Select 1st sheet
sheet1 = work_sheet.sheet1

# Get data in python lists format
data = sheet1.get_all_values()

# Get header from data
headers = data.pop(0)

# Create df
df = pd.DataFrame(data, columns=headers)
df.head()

  price    group
0   110  group_1
1    20  group_2

In [4]:
data

[['110', 'group_1'], ['20', 'group_2']]