In [1]:
import pandas as pd
import numpy as np

# resample
Теперь посмотрим, какие возможности pandas предоставляет для работы с временными рядами. Один из наиболее часто используемых и удобных методов — .resample(), позволяющий преобразовать данные и применить к ним другой метод (sum(), size() и пр.). Таким образом, можно рассчитать показатели, например, за весь день, неделю, месяц и т.п.
Например, посчитать сумму показателя по дням, имея данные по часам, можно следующим образом:

data.resample(rule='D').sum()
где rule — параметр, отвечающий за то, по какому периоду нужно агрегировать данные. В данном случае параметр он равен 'D' (Day). 

Для получения данных за каждые 6 часов используем число и обозначение H:

data.resample(rule='6H').sum()

В качестве индексов датафрейма обязательно нужно использовать колонку формата DateTime, отсортированную в правильном порядке. Поэтому предварительно всегда следует проверить правильность типа данных и, если требуется, привести его к правильному с помощью pd.to_datetime().

In [2]:
bikes_Q1 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q1_sample.csv')

Перед тем как сделать .resample(), нужно немного подготовить данные. Поместите колонку start_time в качестве индексов и сохраните изменения в исходный датасет. Предварительно проверьте тип переменной, и приведите её к правильному, если необходимо.

In [11]:
bikes_Q1.dtypes

trip_id                       int64
start_time           datetime64[ns]
end_time             datetime64[ns]
bikeid                        int64
tripduration                 object
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
gender                       object
birthyear                   float64
dtype: object

In [10]:
bikes_Q1.start_time=pd.to_datetime(bikes_Q1.start_time)
bikes_Q1.end_time=pd.to_datetime(bikes_Q1.end_time)

In [9]:
bikes_Q1

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17617135,2018-01-22 20:04:31,2018-01-22 20:11:53,1131,442.0,471,Francisco Ave & Foster Ave,468,Budlong Woods Library,Subscriber,Female,1949.0
1,17897619,2018-03-16 19:47:59,2018-03-16 20:04:00,6146,961.0,296,Broadway & Belmont Ave,253,Winthrop Ave & Lawrence Ave,Subscriber,Male,1988.0
2,17881307,2018-03-14 18:49:20,2018-03-14 18:54:38,3847,318.0,260,Kedzie Ave & Milwaukee Ave,503,Drake Ave & Fullerton Ave,Subscriber,Male,1987.0
3,17881130,2018-03-14 18:33:48,2018-03-14 19:07:40,1483,"2,032.0",199,Wabash Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Male,1990.0
4,17686289,2018-02-05 17:39:14,2018-02-05 17:46:13,6391,419.0,596,Benson Ave & Church St,605,University Library (NU),Subscriber,Male,1992.0
...,...,...,...,...,...,...,...,...,...,...,...,...
174210,17792363,2018-02-28 17:16:53,2018-02-28 17:18:49,2401,116.0,50,Clark St & Congress Pkwy,41,Federal St & Polk St,Subscriber,Male,1991.0
174211,17695807,2018-02-08 11:52:44,2018-02-08 11:58:13,4687,329.0,18,Wacker Dr & Washington St,39,Wabash Ave & Adams St,Subscriber,Male,1979.0
174212,17938644,2018-03-22 17:18:21,2018-03-22 17:24:13,6200,352.0,59,Wabash Ave & Roosevelt Rd,50,Clark St & Congress Pkwy,Subscriber,Male,1968.0
174213,17738202,2018-02-20 16:45:07,2018-02-20 16:57:42,757,755.0,99,Lake Shore Dr & Ohio St,38,Clark St & Lake St,Subscriber,Male,1990.0
174214,17566765,2018-01-10 12:08:16,2018-01-10 12:20:31,4668,735.0,489,Drake Ave & Addison St,500,Central Park Ave & Elbridge Ave,Subscriber,Male,1980.0

Новый индекс в датафрейме - через метод .set_index(), который принимает на вход строку с названием колонки или лист таких строк:
df = df.set_index('colname')

#или

df.set_index('colname', inplace = True)

In [12]:
bikes_Q1 = bikes_Q1.set_index('start_time')

В данных имеется как дата аренды, так и её точное время начала и окончания с точностью до секунд. Примените метод pd.resample() и агрегируйте данные по дням. В качестве ответа укажите максимальное число аренд за день.

In [21]:
bikes_Q1.resample(rule = 'D').size().max()

4196

Посмотрим на распределение количества аренд для разных групп пользователей (usertype) — customers и subscribers в данных за апрель. Данные за нужный период можно подгрузить отсюда.

Сделайте ресемпл по дням для каждой группы и в качестве ответа укажите число аренд за 18 апреля, сделанных пользователями типа Subscriber.

In [22]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_april.csv')

In [47]:
df.start_time = pd.to_datetime(df.start_time)
df.end_time = pd.to_datetime(df.end_time)

AttributeError: 'DataFrame' object has no attribute 'start_time'

In [45]:
df = df.set_index('start_time')

In [60]:
#transpose - на тот случай, если вам хочется поменять местами ряды и столбцы.
df.groupby('usertype').resample(rule='D').size().transpose()

usertype    Customer  Subscriber
start_time
2018-04-01       239         825
2018-04-02       166        2841
2018-04-03        31        1873
2018-04-04        82        2253
2018-04-05        90        2502
2018-04-06       124        2520
2018-04-07       335        1416
2018-04-08       242        1252
2018-04-09        39        1798
2018-04-10       117        3114
2018-04-11       305        3815
2018-04-12       491        4155
2018-04-13       208        2811
2018-04-14        41         611
2018-04-15        41         528
2018-04-16        40        1960
2018-04-17       121        3090
2018-04-18        45        2196
2018-04-19       164        3296
2018-04-20       562        3747
2018-04-21       655        1845
2018-04-22      1055        2241
2018-04-23       345        3930
2018-04-24       367        4356
2018-04-25       220        3959
2018-04-26       544        4398
2018-04-27       416        3424
2018-04-28       713        2015
2018-04-29      1082        2114
2018-04-30      1098        5281

In [70]:
df.groupby('usertype').resample(rule='D').size().loc[('Subscriber','2018-04-18')]

2196

⭐️ Посмотрим на данные за период с апреля по декабрь.

Объедините сэмплы данных за нужные месяцы в один общий датасет bikes. Сделайте преобразование по дням для каждой группы пользователей (usertype), затем выберите дни, в которые число аренд, сделанных customers, было больше, чем у subscribers.

In [74]:
bikes = pd.concat([
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q2_sample_apr.csv'), 
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q2_sample_may.csv'), 
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q2_sample_jun.csv'), 
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q3_sample_july.csv'),
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q3_sample_aug.csv'),
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q3_sample_sep.csv'),
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q4_sample_oct.csv'),
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q4_sample_nov.csv'),
           pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/bikes_q4_sample_dec.csv')
            ])

In [77]:
bikes.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,18000534,2018-04-01 00:17:00,2018-04-01 00:22:53,1323,353.0,130,Damen Ave & Division St,69,Damen Ave & Pierce Ave,Subscriber,Male,1991.0
1,18000536,2018-04-01 00:20:00,2018-04-01 00:26:22,2602,382.0,121,Blackstone Ave & Hyde Park Blvd,351,Cottage Grove Ave & 51st St,Subscriber,Female,1992.0
2,18000538,2018-04-01 00:23:19,2018-04-01 00:35:01,4213,702.0,31,Franklin St & Chicago Ave,180,Ritchie Ct & Banks St,Subscriber,Male,1985.0
3,18000540,2018-04-01 00:24:46,2018-04-01 00:44:23,6401,"1,177.0",596,Benson Ave & Church St,517,Clark St & Jarvis Ave,Subscriber,Male,1974.0
4,18000541,2018-04-01 00:26:04,2018-04-01 00:31:05,6333,301.0,145,Mies van der Rohe Way & Chestnut St,24,Fairbanks Ct & Grand Ave,Subscriber,Male,1984.0

In [84]:
bikes.dtypes

trip_id                       int64
end_time             datetime64[ns]
bikeid                        int64
tripduration                 object
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
gender                       object
birthyear                   float64
dtype: object

In [83]:
bikes.start_time = pd.to_datetime(bikes.start_time)
bikes.end_time = pd.to_datetime(bikes.end_time)
bikes = bikes.set_index('start_time')

In [90]:
bikes.groupby('usertype').resample(rule = 'D').size().transpose().query('Customer>Subscriber')

usertype    Customer  Subscriber
start_time
2018-05-27      3263        2449
2018-09-02      2752        2183

Отлично! Следующий шаг – более подробно посмотреть на летний период.

Еще один плюс использования дат в качестве индексов – возможность выбрать данные за интересующий нас промежуток времени. В переменную bikes_summer сохраните наблюдения с 1 июня по 31 августа. Затем запишите в top_destination наиболее популярный пункт назначения (его название). Агрегируйте данные по дням и определите, в какой день в полученный пункт (top_destination) было совершено меньше всего поездок. Дату сохраните в bad_day, отформатировав timestamp с помощью .strftime('%Y-%m-%d').

In [94]:
bikes_summer = bikes.loc['2018-06-01':'2018-08-31']

In [102]:
top_destination =  bikes_summer.to_station_name.value_counts().idxmax()

In [148]:
bad_day = bikes_summer.loc[bikes_summer.to_station_name == top_destination].resample(rule='D').size().idxmin().strftime('%Y-%m-%d')

In [ ]:
Куда больше всего ездят на выходных? Туда же, куда и в будние дни, или в другие пункты назначения?

Используя данные за период с 1 июня по 31 августа, выберите верные утверждения.

In [186]:
bikes_summer['day']=bikes_summer.index.strftime('%A')

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [187]:
bikes_summer

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,day
start_time,,,,,,,,,,,,
2018-06-01 00:04:40,18709077,2018-06-01 00:06:47,3155,127.0,128,Damen Ave & Chicago Ave,214,Damen Ave & Grand Ave,Subscriber,Female,1978.0,Friday
2018-06-01 00:06:08,18709080,2018-06-01 00:24:18,2807,"1,090.0",258,Logan Blvd & Elston Ave,69,Damen Ave & Pierce Ave,Customer,NaN,NaN,Friday
2018-06-01 00:08:01,18709086,2018-06-01 00:32:55,2737,"1,494.0",337,Clark St & Chicago Ave,225,Halsted St & Dickens Ave,Customer,Male,1988.0,Friday
2018-06-01 00:09:02,18709091,2018-06-01 00:19:21,6089,619.0,210,Ashland Ave & Division St,56,Desplaines St & Kinzie St,Subscriber,Male,1987.0,Friday
2018-06-01 00:09:28,18709092,2018-06-01 00:14:44,2352,316.0,240,Sheridan Rd & Irving Park Rd,303,Broadway & Cornelia Ave,Subscriber,Male,1997.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-31 23:49:34,20479557,2018-08-31 23:56:20,4289,406.0,374,Western Ave & Walton St,69,Damen Ave & Pierce Ave,Subscriber,Male,1987.0,Friday
2018-08-31 23:49:56,20479559,2018-09-01 00:30:37,6337,"2,441.0",497,Kimball Ave & Belmont Ave,599,Valli Produce - Evanston Plaza,Subscriber,Male,1989.0,Friday
2018-08-31 23:50:01,20479560,2018-08-31 23:58:00,1429,479.0,113,Bissell St & Armitage Ave,16,Paulina Ave & North Ave,Subscriber,Male,1987.0,Friday
2018-08-31 23:54:44,20479564,2018-09-01 00:06:10,6204,686.0,623,Michigan Ave & 8th St,99,Lake Shore Dr & Ohio St,Subscriber,Male,1985.0,Friday
2018-08-31 23:57:44,20479571,2018-09-01 00:11:35,4357,831.0,297,Paulina St & Montrose Ave,294,Broadway & Berwyn Ave,Subscriber,Female,1995.0,Friday

In [194]:
bikes_summer.groupby(["to_station_name",'day'])\
    .size()\
    .sort_values(ascending = False)\
    .head(10)

to_station_name             day
Streeter Dr & Grand Ave     Saturday     3461
                            Sunday       2565
                            Friday       1726
Lake Shore Dr & North Blvd  Saturday     1690
Streeter Dr & Grand Ave     Wednesday    1669
                            Monday       1503
                            Thursday     1482
Theater on the Lake         Saturday     1470
Lake Shore Dr & North Blvd  Sunday       1402
Theater on the Lake         Sunday       1388
dtype: int64

Помимо методов для работы с данными, pandas включает в себя возможности для форматирования таблиц!

Например: 

df.style.highlight_null() – подсветить ячейки с пропущенными значениями 
df.style.highlight_max() – подсветить ячейки с максимальными значениями по колонкам
df.style.highlight_min() – подсветить ячейки с минимальными значениями по колонкам
df.style.applymap(func) – применить стилевую функцию к каждой ячейке датафрэйма
df.style.apply(func, axis, subset) – применить стилевую функцию к каждой колонке/строке в зависимости от axis, subset позволяет выбрать часть колонок для оформления
render() – после декорирования возвращает HTML, описывающий табличку
Можно использовать несколько методов одновременно, применяя их друг за другом (method chaining). Давайте посмотрим на style подробнее в следующих шагах, а затем разберемся с тем, как можно отформатировать табличку с retention :)

содержание
индексы и подписи
как раскрасить ячейки в зависимости от значений
форматируем числа в ячейках
что такое retention и как его визуализировать с помощью style

In [198]:
np.random.seed(77)
df = pd.DataFrame({'A': list(range(5)), 
                   'B': np.random.randint(0, 10, 5),
                   'C': np.random.randint(-10, 10, 5), 
                   'D': np.random.randint(-10, 100, 5)})
df

   A  B   C   D
0  0  7 -10  49
1  1  4  -3  90
2  2  4   2  44
3  3  5   9  26
4  4  8 -10  37

In [199]:
#Первый метод – .hide_index(), позволяет спрятать индексы:
df.style.hide_index()

In [200]:
#Далее – .set_caption(). С его помощью можно добавить подпись к таблице
df.style.hide_index().set_caption('Cool table')

In [204]:
#highlight_max – подсвечивает (выделяет) цветом наибольшее значение.
#Можно применить либо к каждой строке (axis=0/'index'), либо к каждой колонке (axis=1/'columns').

df.style.highlight_max(axis=1)

In [203]:
df.style.highlight_max(axis='index')

In [205]:
# форматирование отображения чисел
# Иногда может понадобится различное число знаков после запятой.
# Для этого подходит метод ​.format(), ​которому нужно передать строку, указывающую сколько знаков необходимо оставить.

# генерируем данные
df = pd.DataFrame({'A': np.linspace(1, 10, 5)})
df = pd.concat([df, pd.DataFrame(np.random.randn(5, 4), columns=list('BCDE'))],axis=1)
df['F'] = np.random.choice(['A', 'B'], size=5)
df.iloc[3, 3] = np.nan 
df.iloc[0, 2] = np.nan 
df

       A         B         C         D         E  F
0   1.00  0.797939       NaN -1.652119  0.717119  B
1   3.25  0.977228 -1.040849 -0.643520 -0.112520  A
2   5.50 -0.314166  1.627440 -0.361227 -0.173046  B
3   7.75 -1.951309 -0.978210       NaN -1.178379  A
4  10.00 -0.515551 -0.063015 -0.559371  0.796697  A

In [206]:
# Форматируем:

# оставляем только 2 знака после точки
# добавляем знак + для положительных значений
# применяем ко всем колонкам, кроме F
df.style.format("{:+.2f}", subset=df.columns.drop('F'))

In [207]:
# Также можем скрыть индексы и добавить название:

(df.style
 .format({'B': "{:0<4.0f}", 'D': '{:+.2f}'})
 .hide_index()
 .set_caption('Новая таблица'))

In [208]:
# И при желании импортировать в Excel (но не всё форматирование переносится):

(df.style
 .bar(align='mid', color=['#d65f5f', '#5fba7d'])
 .to_excel('styled.xlsx', engine='openpyxl')
)

retention 
Retention – показатель удержания пользователей. Иными словами – отражает то, сколько пользователей возвращаются в продукт спустя заданное время. 

Обычно день начала использования сервиса называется Day 0 – момент, когда юзер впервые воспользовался продуктом. N-Day Retention показывает, сколько процентов пользователей, начавших пользоваться продуктом в день 0, вернулись и продолжили использовать продукт N дней спустя.  

Под днем не всегда понимается день – интервалы измерения ретеншена зависят от характеристик самого продукта. Так, некоторые сервисы подразумевают ежедневное использование (напр. социальные сети), а другие – более редкое (бронирование, такси, доставка, рестораны). Согласитесь, вряд ли пользователи бронируют авиабилеты или отели каждый день :) В случае сервиса доставки или ресторана, мы могли бы посмотреть на недельные интервалы использования (week by week). Тогда retention бы показывал, сколько пользователей вернулись в 1-7 день, 8-14 и т.д.

визуализация
Один из вариантов визуализации представлен ниже. Что же здесь происходит?

Cohort, строки – когорта пользователей. Например, 2011-01 означает, что пользователи из этой группы первый раз сделали заказ в онлайн магазине в январе 2011 года, 2011-02 – в феврале, и т.д.
CohortPeriod, столбцы – месяц. 0 – когда пользователи только-только сделали первую покупку. Далее – сколько из них оформили заказ в 1 месяце, 2, ..., 12-м. Часть значений остается пропущенной, поскольку период наблюдений для части пользователей меньше, чем для остальных. Для юзеров, присоединившихся в декабре 2010, имеются данные за весь год, в то время как для ребят из когорты 2011-11 – всего лишь за 0 и 1 месяц.

In [213]:
user_retention = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/user_retention.csv', index_col=0)

In [214]:
user_retention

,0,1,2,3,4,5,6,7,8,9,10,11,12
Cohort,,,,,,,,,,,,,
2010-12,1.0,0.381857,0.334388,0.387131,0.359705,0.396624,0.379747,0.354430,0.354430,0.394515,0.373418,0.500000,0.274262
2011-01,1.0,0.239905,0.282660,0.242280,0.327791,0.299287,0.261283,0.256532,0.311164,0.346793,0.368171,0.149644,NaN
2011-02,1.0,0.247368,0.192105,0.278947,0.268421,0.247368,0.255263,0.281579,0.257895,0.313158,0.092105,NaN,NaN
2011-03,1.0,0.190909,0.254545,0.218182,0.231818,0.177273,0.263636,0.238636,0.288636,0.088636,NaN,NaN,NaN
2011-04,1.0,0.227425,0.220736,0.210702,0.207358,0.237458,0.230769,0.260870,0.083612,NaN,NaN,NaN,NaN
2011-05,1.0,0.236559,0.172043,0.172043,0.215054,0.243728,0.265233,0.103943,NaN,NaN,NaN,NaN,NaN
2011-06,1.0,0.208511,0.187234,0.272340,0.246809,0.336170,0.102128,NaN,NaN,NaN,NaN,NaN,NaN
2011-07,1.0,0.209424,0.204188,0.230366,0.272251,0.115183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-08,1.0,0.251497,0.251497,0.251497,0.137725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-09,1.0,0.298658,0.325503,0.120805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10,1.0,0.264205,0.130682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-11,1.0,0.134375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
# Довольно сложно воспринимать подобную информацию без цвета, поэтому применяем рассмотренные ранее методы:

ur_style = (user_retention
            .style
            .set_caption('User retention by cohort')  # добавляем подпись
            .background_gradient(cmap='viridis')  # раскрашиваем ячейки по столбцам
            .highlight_null('white')  # делаем белый фон для значений NaN
            .format("{:.2%}", na_rep=""))  # числа форматируем как проценты, NaN заменяем на пустоту
ur_style