In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(17)
df = pd.DataFrame({'col_1':['item_1', 'item_2', 'item_3', 'item_4', 'item_5'], 
                   'col_2': np.random.randint(0, 10, 5), 
                   'col_3': np.random.randint(0, 10, 5)})
df

    col_1  col_2  col_3
0  item_1      1      6
1  item_2      6      4
2  item_3      6      7
3  item_4      9      4
4  item_5      0      7

Начнем с методов stack и unstack, которые очень похожи на pivot(), и предназначены для работы с MultiIndex.

In [5]:
df_stacked = df.stack()
df_stacked

0  col_1    item_1
   col_2         1
   col_3         6
1  col_1    item_2
   col_2         6
   col_3         4
2  col_1    item_3
   col_2         6
   col_3         7
3  col_1    item_4
   col_2         9
   col_3         4
4  col_1    item_5
   col_2         0
   col_3         7
dtype: object

In [6]:
#Индексам также можно присвоить названия:
df_stacked.index.names = ['id', 'column']
df_stacked

id  column
0   col_1     item_1
    col_2          1
    col_3          6
1   col_1     item_2
    col_2          6
    col_3          4
2   col_1     item_3
    col_2          6
    col_3          7
3   col_1     item_4
    col_2          9
    col_3          4
4   col_1     item_5
    col_2          0
    col_3          7
dtype: object

In [44]:
pokemon = pd.read_csv("/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/Pokemon.csv")

In [45]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Сначала измените названия исходных столбцов:

пробелы и точки нужно заменить на "_" (напр. Sp. Atk → sp_atk).
приведите все названия к нижнему регистру
колонку "#" переименовать в "id"
Полученные результаты запишите в исходный датафрейм pokemon.

Затем сгруппируйте данные по поколению покемонов (generation), и с помощью value_counts() посчитайте, сколько в каком поколении легендарных покемонов (legendary), а также сколько в этих поколениях нелегендарных покемонов. Полученный объект приведите к формату датафрейма (.to_frame()) и сохраните в legends.

In [30]:
#ренейм колонок без пробелов и нижним регистором одной строчкой
pokemon.columns = pokemon.columns.str.lower().str.replace(' ', '_')
pokemon = pokemon.rename(columns={'#':'id','sp._atk':'sp_atk', 'sp._def':'sp_def'})

In [48]:
#ренейм через фукнцию
pokemon = pokemon.rename(columns= lambda x:x.replace('. ','_').replace (' ','_').lower())

In [49]:
pokemon

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [31]:
legends  = pokemon.groupby('generation').legendary.value_counts().to_frame()

In [32]:
legends

                      legendary
generation legendary
1          False            160
           True               6
2          False            101
           True               5
3          False            142
           True              18
4          False            108
           True              13
5          False            150
           True              15
6          False             74
           True               8

Как вы могли заметить,  есть только одна колонка со значениями, которая называется legendary, а в качестве индекса используются две колонки — generation и legendary. Два одинаковых названия — не очень хорошо, поэтому необходимо переименовать колонку legendary в legendary_count. 

Используйте датафрейм legends, полученный на предыдущем шаге, и измените в нём название столбца, перезаписав его в ту же переменную. Затем используйте unstack, чтобы поместить уровень индекса legendary в уровень оси столбцов. Иными словами, должно получиться две колонки – False & True. Результат сохраните в legends_unstacked.

In [51]:
legends = legends.rename(columns ={'legendary':'legendary_count'})

In [53]:
legends_unstacked = legends.unstack()

In [55]:
legends_unstacked

           legendary_count
legendary            False True
generation
1                      160     6
2                      101     5
3                      142    18
4                      108    13
5                      150    15
6                       74     8

Немного усложним задачу. Теперь попробуем узнать, среди каких типов покемонов и какого поколения больше всего легендарных.

Сгруппируйте датасет pokemon по переменным generation и type_1, посчитайте количество легендарных покемонов внутри групп. Приведите данные в формат датафрейма, а затем используйте unstack(). В качестве ответа выберите вид и поколение покемона, среди которых больше всего легендарных.

Hint: обратиться к колонке с мультииндексом можно с помощью .loc[:,('legendary', True)]

In [64]:
type_legend = pokemon.groupby(['type_1','generation']).legendary.value_counts().to_frame()
type_legend = type_legend.rename(columns ={'legendary':'legendary_count'})

In [72]:
type_legend

                             legendary_count
type_1 generation legendary
Bug    1          False                   14
       2          False                   12
       3          False                   12
       4          False                   10
       5          False                   18
...                                      ...
Water  3          True                     2
       4          False                   12
                  True                     1
       5          False                   18
       6          False                    5

[134 rows x 1 columns]

In [93]:
type_legend.unstack().loc[:,('legendary_count',True)].idxmax()

('Dragon', 3)

In [94]:
df3 = pd.DataFrame({'name': ['Persik', 'Brownie'], 'type': ['cat', 'dog'],
                    'color': ['ginger', 'white'], 'height': [17, 30], 
                    'weight': [3.4, 4.3]})
df3

      name type   color  height  weight
0   Persik  cat  ginger      17     3.4
1  Brownie  dog   white      30     4.3

In [97]:
df3.melt(id_vars='name')

      name variable   value
0   Persik     type     cat
1  Brownie     type     dog
2   Persik    color  ginger
3  Brownie    color   white
4   Persik   height      17
5  Brownie   height      30
6   Persik   weight     3.4
7  Brownie   weight     4.3

In [99]:
df3.melt(id_vars=['name'], value_vars=['type', 'color', 'height'], 
         var_name='characteristics', value_name='value')

      name characteristics   value
0   Persik            type     cat
1  Brownie            type     dog
2   Persik           color  ginger
3  Brownie           color   white
4   Persik          height      17
5  Brownie          height      30
6   Persik          weight     3.4
7  Brownie          weight     4.3

Преобразуйте представленные данные в длинный формат и запишите в переменную avocado_agg_long. В качестве индекса используйте type

In [100]:
avocado_agg = pd.DataFrame({'type' : ['conventional', 'organic'],
                            'AvgPrice_2015' : [1.077963, 1.673324],
                            'AvgPrice_2016' : [1.105595, 1.571684],
                            'AvgPrice_2017' : [1.294888, 1.735521],
                            'AvgPrice_2018' : [1.127886, 1.567176],
                            })
avocado_agg

           type  AvgPrice_2015  AvgPrice_2016  AvgPrice_2017  AvgPrice_2018
0  conventional       1.077963       1.105595       1.294888       1.127886
1       organic       1.673324       1.571684       1.735521       1.567176

lng = pd.wide_to_long(df4(data), ['AvgHeight', 'AvgWeight'](stabnames), i=['type', 'name'], j='year', sep='_')
lng
data — датафрейм
stubnames — части названий переменных, которые мы хотим преобразовать из широкого формата в длинный
i — переменные, которые не трансформируются, и в результате помещаются в индексы
j — имя новой переменной
sep — разделитель (между параметром и значением)

In [102]:
avocado_agg_long = pd.wide_to_long(avocado_agg,'AvgPrice', i = 'type',j ='year',sep = '_')

In [103]:
avocado_agg_long

                   AvgPrice
type         year
conventional 2015  1.077963
organic      2015  1.673324
conventional 2016  1.105595
organic      2016  1.571684
conventional 2017  1.294888
organic      2017  1.735521
conventional 2018  1.127886
organic      2018  1.567176

⭐️ Имеется набор данных о супергероях в широком формате. В первой колонке Name находятся их имена, а остальные 167 столбцов — различные характеристики (суперсилы), принимающие значение либо True, либо False. Давайте преобразуем датафрейм так, чтобы "собрать" эти признаки в один столбец под названием superpower, а в качестве значений поместить туда списки имеющихся у того или иного героя суперсил. 

То есть привести в следующий формат:

           Name                                         superpower
568  Spider-Man  [Reflexes, Animal Oriented Powers, Danger Sens...

Сначала приведите данные к длинному формату, где единственным идентификатором будет имя героя Name. Новый столбец с названиями суперсил переименуйте в superpower. Полученный датафрейм запишите в superheroes_long.

Для того, чтобы соединить силы в списки и привести данные в желаемую форму, отфильтруйте колонку value так, чтобы остались строки только со значением True. Сгруппируйте датасет по Name, после чего возьмите столбец superpower и используйте .apply(list). Результат сохраните в superheroes_powers. Обратите внимание, что результирующий объект тоже должен быть датафреймом, а колонки должно быть всего две — Name и superpower.

Данные записаны в superheroes

In [104]:
superheroes = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-rudenko/1_Python/Lesson_8/superheroes_power_matrix.csv')

In [105]:
superheroes

,Name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [113]:
superheroes_long = superheroes.melt(id_vars='Name',var_name ='superpower', value_name = 'Having')

In [114]:
superheroes_long

                   Name  superpower  Having
0               3-D Man     Agility    True
1                A-Bomb     Agility   False
2            Abe Sapien     Agility    True
3              Abin Sur     Agility   False
4           Abomination     Agility   False
...                 ...         ...     ...
111384  Yellowjacket II  Omniscient   False
111385             Ymir  Omniscient   False
111386             Yoda  Omniscient   False
111387          Zatanna  Omniscient   False
111388             Zoom  Omniscient   False

[111389 rows x 3 columns]

In [137]:
superheroes_powers = superheroes_long.query('Having==True').groupby('Name').superpower.apply(list).to_frame().reset_index()

In [138]:
superheroes_powers

                Name                                         superpower
0            3-D Man    [Agility, Super Strength, Stamina, Super Speed]
1             A-Bomb  [Accelerated Healing, Durability, Longevity, S...
2         Abe Sapien  [Agility, Accelerated Healing, Cold Resistance...
3           Abin Sur                               [Lantern Power Ring]
4        Abomination  [Accelerated Healing, Intelligence, Super Stre...
..               ...                                                ...
662  Yellowjacket II             [Flight, Energy Blasts, Size Changing]
663             Ymir  [Cold Resistance, Durability, Longevity, Super...
664             Yoda  [Agility, Stealth, Danger Sense, Marksmanship,...
665          Zatanna  [Cryokinesis, Telepathy, Magic, Fire Control, ...
666             Zoom  [Super Speed, Intangibility, Time Travel, Time...

[667 rows x 2 columns]

.explode()

In [139]:
df = pd.DataFrame({'A': [[1, 2, 3], 
                         'kitten', 
                         [], 
                         ['kitten', 'puppy']], 
                   'B': 1})
df

                 A  B
0        [1, 2, 3]  1
1           kitten  1
2               []  1
3  [kitten, puppy]  1

In [140]:
df

                 A  B
0        [1, 2, 3]  1
1           kitten  1
2               []  1
3  [kitten, puppy]  1

In [141]:
df.explode('A')

        A  B
0       1  1
0       2  1
0       3  1
1  kitten  1
2     NaN  1
3  kitten  1
3   puppy  1

In [142]:
df.explode('A').A.value_counts().to_frame(name='count')  # переименовываем "A" в "count"

        count
kitten      2
puppy       1
3           1
2           1
1           1